.header {
  padding: 5px 24px;
  background: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
  box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);
}

.logo {
  width: 20px;
}

.avatar-container {
  cursor: pointer;
  position: relative;
  top: 3px;
}

.mega-menu {
  background: transparent;
}

li.p-menuitem-text {
  display: none !important;
  background: red !important;
}

.p-megamenu-submenu-header {
  display: none;
}

:host ::ng-deep {
  .p-megamenu-submenu-header {
    display: none;
  }
}

