<div class="page">


  <div class="request-list">

    <div class="request" *ngFor="let item of [1,2,3,4,5]">

      <div class="request-header flex align-items-center">
        <div class="logo-container">
          <img src="https://www.primefaces.org/freya-ng/assets/demo/images/product/bamboo-watch.jpg" alt=""
               class="logo">
        </div>
        <p class="request-header-text">Some</p>
      </div>

      <div class="request-body">
        <p class="product">Proqram təminatı</p>
        <p class="product-tag">Telekommunikasiya</p>
        <div class="date-container flex align-items-center">
          <i class="pi pi-clock"></i>
          <p class="date">28.02.2021</p>
        </div>
        <div class="flex align-items-center justify-content-between">

          <div class="status">
            <span class="status-dot"></span>
            <p>Ignore</p>
          </div>

          <ul class="option-list flex align-items-center">
            <li class="flex align-items-center">
              <span>0</span>
              <i class="pi pi-eye"></i>
            </li>
            <li class="flex align-items-center">
              <span>3</span>
              <i class="pi pi-tags"></i>
            </li>
          </ul>

        </div>

      </div>

      <div class="request-footer">
        <button class="btn share-btn">
          <i class="pi pi-share-alt"></i>
        </button>
      </div>

    </div>


  </div>


</div>
