<div class="login-page">
  <div class="logo-container">
    <img class="logo" src="https://www.primefaces.org/freya-ng/assets/layout/images/logo-freya-single.svg" alt="">
  </div>
  <form action="" class="form p-d-flex p-flex-column">
    <input id="email" placeholder="Email" class="p-inputtext p-component p-element">
    <input id="password" placeholder="Password" class="p-inputtext p-component p-element">
    <button label="Large" (click)="login()" type="button" class="p-element p-ripple p-button p-component">
      <span class="p-button-label">LOGIN</span>
      <span class="p-ink"></span>
    </button>

    <a href="" class="forgot-password">
      forget password?
    </a>

    <p class="have-account">Don’t you have an account, <a href="#">sign up</a></p>

  </form>
</div>
