.sizes {
  .p-inputtext {
    display: block;
    margin-bottom: .5rem;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.p-field * {
  display: block;
}

.router-outlet-wrapper {
  margin-top: 80px;
  position: relative;
  z-index: 80;
}

.app-index-layout {
  position: relative;
  z-index: 99;
}
