.dashboard-header-card-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 25px;
  margin-top: 30px;
}

.card-item {
  box-shadow: 0 10px 40px rgb(41 50 65 / 6%);
  border-radius: 24px;
  background: #fff;
  padding: 20px 24px;
  display: grid;
  grid-template-columns: 80% 20%;
  cursor: pointer;

  p {
    color: #fff;
  }

  i {
    text-align: right;
    color: #fff;
    font-size: 22px;
  }

  &:hover {
    opacity: .9;
  }
}

.card-item-text {
  font-size: 16px;
  color: #424242;
}

.card-item-counter {
  font-size: 36px;
  font-weight: 700;
  color: #424242;
}

.white {
  p {
    color: #424242;
  }

  i {
    color: #424242;
  }
}

.blue {
  background: #69B7FF;
}

.gray {
  background: rgba(41, 50, 65, 0.4);
}

.black {
  background: rgba(41, 50, 65, 0.8);
}

.yellow {
  background: linear-gradient(90deg, #FFB340 0%, #FFA740 100%);
}

.invent-friends {
  margin: 24px 0;
}

.invent-friends-text {
  margin-bottom: 24px;
  font-size: 1.25rem;
  font-weight: 700;
}

.product-list {
  margin: 24px 0;
}

.product-badge {
  border-radius: 2px;
  padding: 0.25em 0.5rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: .3px;

  &.status-instock {
    background: #c8e6c9;
    color: #256029;
  }

  &.status-lowstock {
    background: #feedaf;
    color: #8a5340;
  }

  &.status-outofstock {
    background: #ffcdd2;
    color: #c63737;
  }
}

.card-container-title {
  font-size: 30px;
  color: #424224;
  font-weight: 600;
  margin-bottom: 10px;
}
