<div class="page">

  <div class="dashboard-header-card-list">

    <div class="card-item white">
      <p class="card-item-text">Graphics</p>
      <i class="pi pi-users"></i>
      <p class="card-item-counter">42</p>
    </div>

    <div class="card-item blue">
      <p class="card-item-text">New users (Today)</p>
      <i class="pi pi-th-large"></i>
      <p class="card-item-counter">32</p>
    </div>

    <div class="card-item gray">
      <p class="card-item-text">Uptime</p>
      <i class="pi pi-tags"></i>
      <p class="card-item-counter">3</p>
    </div>

    <div class="card-item black">
      <p class="card-item-text">Text coverage</p>
      <i class="pi pi-images"></i>
      <p class="card-item-counter">76</p>
    </div>

    <div class="card-item yellow">
      <p class="card-item-text">Cloud users</p>
      <i class="pi pi-globe"></i>
      <p class="card-item-counter">12</p>
    </div>

  </div>

</div>
