.dashboard-header-card-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 25px;
  margin-top: 30px;
}

.card-item {
  box-shadow: 0 10px 40px rgb(41 50 65 / 6%);
  border-radius: 24px;
  background: #fff;
  padding: 20px 24px;
  display: grid;
  grid-template-columns: 80% 20%;
  cursor: pointer;

  p {
    color: #fff;
  }

  i {
    text-align: right;
    color: #fff;
    font-size: 22px;
  }

  &:hover {
    opacity: .9;
  }
}

.card-item-text {
  font-size: 16px;
  color: #424242;
}

.card-item-counter {
  font-size: 36px;
  font-weight: 700;
  color: #424242;
}

.white {
  p {
    color: #424242;
  }

  i {
    color: #424242;
  }
}

.blue {
  background: #69B7FF;
}

.gray {
  background: rgba(41, 50, 65, 0.4);
}

.black {
  background: rgba(41, 50, 65, 0.8);
}

.yellow {
  background: linear-gradient(90deg, #FFB340 0%, #FFA740 100%);
}
