<div class="sidebar flex-column align-items-center justify-content-between">

  <div class="flex-column align-items-center">
    <button class="btn sidebar-btn" [routerLink]="'/settings'">
      <i class="pi pi-id-card"></i>
    </button>
<!--    <button class="btn sidebar-btn">-->
<!--      <i class="pi pi-desktop"></i>-->
<!--    </button>-->
    <button class="btn sidebar-btn" [routerLink]="'/request-list'">
      <i class="pi pi-th-large"></i>
    </button>
  </div>

  <div class="flex-column align-items-center">
    <button class="btn sidebar-btn" [routerLink]="'/dashboard'">
      <i class="pi pi-wallet"></i>
    </button>
    <button class="btn sidebar-btn" [routerLink]="'/settings'">
      <i class="pi pi-cog"></i>
    </button>
  </div>

</div>
